.name {
    color: blue;
    text-align: center
}

.body {
    background-color:grey
}

.bio {
    text-align:center;
}

.headshot {
    display:block;
    margin-left: auto;
    margin-right: auto;
}